.header {
  background-color: rgb(247, 245, 241);
  border-radius: 10px;
  text-align: center;
}
.header__form {
  margin-bottom: 20px;
}
.header__form button {
  margin: 0px 20px;
}
.header__form button:hover {
  background-color: rgb(247, 245, 241);
}
.firstnameinput {
  margin-left: 80px;
}
.lastnameinput {
  margin-left: 20px;
}
textarea {
  margin-bottom: 10px;
  width: 90%;
}
