body {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  background-color: rgb(249, 240, 219);
}
h1 {
  text-align: center;
}

.changepage {
  text-align: center;
  margin: 10px 0;
  padding: 10px 10px;
  /* background-color: blueviolet; */
}

.changepage__allday {
  margin-right: 20px;
  box-shadow: 0px 8px #434242;
}
.changepage__allday:active {
  box-shadow: none;
  position: relative;
  top: 8px;
}
.changepage__mydiary {
  box-shadow: 0px 8px #434242;
}
.changepage__mydiary:active {
  box-shadow: none;
  position: relative;
  top: 8px;
}
.changepage button {
  width: 100px;
  height: 30px;
}
